<!-- IF  S_VIEWTOPIC or S_IN_UCP or S_IN_POSTING or S_RECENT_TOPICS or SCRIPT_NAME == "search" -->
<script type="text/javascript" src="{BOARD_URL}ext/bb3mobi/highslide/highslide-with-gallery.min.js?assets_version={T_ASSETS_VERSION}"></script>
<script type="text/javascript">
// Language strings
hs.lang = {
	cssDirection:		'ltr',
	loadingText :		'{L_LOADINGTEXT}',
	loadingTitle :		'{L_LOADINGTITLE}',
	focusTitle :		'{L_FOCUSTITLE}',
	fullExpandTitle :	'{L_FULLEXPANDTITLE}',
	previousText :		'{L_PREVIOUSTEXT}',
	nextText :			'{L_NEXT}',
	moveText :			'{L_MOVE}',
	closeText :			'{L_CLOSETEXT}',
	closeTitle :		'{L_CLOSETEXT} (esc)',
	resizeTitle :		'{L_RESIZETITLE}',
	playText :			'{L_PLAYTEXT}',
	playTitle :			'{L_PLAYTITLE}',
	pauseText :			'{L_PAUSETEXT}',
	pauseTitle :		'{L_PAUSETITLE}',
	previousTitle :		'{L_PREVIOUSTITLE}',
	nextTitle :			'{L_NEXTTITLE}',
	moveTitle :			'{L_MOVE}',
	fullExpandText :	'1:1',
	number:				'{L_NUMBER}',
	restoreTitle :		'{L_RESTORETITLE}'
};

	hs.graphicsDir = '{BOARD_URL}ext/bb3mobi/highslide/graphics/';
	hs.align = 'center';
	hs.transitions = ['expand', 'crossfade'];
	hs.fadeInOut = true;
	hs.dimmingOpacity = 0.8;
	hs.outlineType = 'rounded-white';
	hs.captionEval = 'this.thumb.title';
	// This value needs to be set to false, to solve the issue with the highly increasing view counts.
	hs.continuePreloading = false;
	hs.marginLeft = 85;
	hs.marginBottom = 0;
	hs.marginTop = 0;
	hs.numberPosition = 'caption';
	// Add the slideshow providing the controlbar and the thumbstrip
	hs.addSlideshow({
	interval: 5000,

		repeat: false,
		useControls: true,
		fixedControls: 'fit',
		overlayOptions: {
			opacity: .6,
			position: 'top center',
			hideOnMouseOut: true
		},
		<!-- IF S_HIGHSLIDE_TYPE -->
		thumbstrip: {
			position: 'middle left',
			mode: 'vertical',
			relativeTo: 'viewport'
		}
		<!-- ENDIF -->
	});

function add_highslide(e, elements) {
	var scr_w = $(document).width();
	var scr_h = $(document).height();
	if (scr_w > 800 && scr_h > 600) {
		;(function ($) {
			$.fn.bindImageLoad = function (callback) {
				function isImageLoaded(img) {
					if (!img.complete) {
						return false;
					}
					if (typeof img.naturalWidth !== "undefined" && img.naturalWidth === 0) {
						return false;
					}
					return true;
				}
				return this.each(function () {
					var ele = $(this);
					if (ele.is("img") && $.isFunction(callback)) {
						ele.one("load", callback);
						if (isImageLoaded(this)) {
							ele.trigger("load");
						}
					}
				});
			};
		})(jQuery);
		elements.find("dl.thumbnail a").addClass("highslide").attr("onclick", "return hs.expand(this)");
		// BBCode [img]highslide[/img]
		elements.find('.postimage').not('a.highslide .postimage').bindImageLoad(function () {
			$(this).removeAttr("width")
			$(this).removeAttr("height")
			$(this).css({ width: "", height: "" });
			var h = $(this).height();
			var w = $(this).width();
			var size = 420;		// Img tag max width
			if (h > 200)		// Highslide > min height
			{
				var i = $(this).attr("src");
				$(this).wrap('<a class="highslide" href="' +i+ '" onclick="return hs.expand(this)"></a>');
			}
			if (w > size || h > size) {
				if (w > h) {
					h = h*(size/w);
					w = size;
				} else {
					w = w*(size/h);
					h = size;
				}
				$(this).width(w);
				$(this).height(h);
			}
		});
	} else {
		elements.find("dl.thumbnail a").attr("target", "_blank");
	}
}
$(document).ready(function (e) {
	add_highslide(e, $(document));
});
$('#qr_posts').on('qr_completed', add_highslide);
$('#qr_postform').on('ajax_submit_preview', function (e) {
	add_highslide(e, $('#preview'));
});
$('#recent_topics').on('recent_topics_success', add_highslide);
</script>
<!-- ENDIF -->
